{% extends "base.html" %}
{% load static %}

{% block title %}<div class="container">Доктор</div> {% endblock title %}

{% block content %}


<div class="container">

<form>
  {% csrf_token %}
  <div class="form-group">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Специализация</th>
        <th scope="col">Телефон</th>
      </tr>
    </thead>
    <tbody>
      <tr>        
        <td><input type="text" class="form-control" name="first_name" id="first_name"></td>
        <td><input type="text" class="form-control" name="last_name" id="last_name"></td>
        <td><input type="" class="form-control" name="specialization" id="specialization"></td>
        <td><input type="text" class="form-control" phone="phone" id="phone"></td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="form-control" name="username" id="username" ></td>
        <td><input type="password" class="form-control" name="password" id="password" ></td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" onclick="saveFunc()">Сохранить</button>

</form>

</div>

<script type="text/javascript">
  function get_cookie(cookie_name)
      {
        var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
      
        if (results)
          return (unescape(results[2]));
        else
          return null;
      }

  function saveFunc() {
      var first_name = $('#first_name').val();
      var last_name = $('#last_name').val();
      var specialization = $('#specialization').val();
      var phone = $('#phone').val();
      
      var username = $('#username').val();
      var password = $('#password').val();

      var token = get_cookie('token')
      $.ajax({
        type:"POST",
        url: "http://127.0.0.1:8000/api/doctor/create/",
        contentType: 'application/json',
        dataType:'json',
        headers: {
          'Authorization': 'JWT '+ token},
        data: JSON.stringify({
          first_name: first_name,
          last_name: last_name,
          specialization: specialization,
          phone: phone,
          user:{
            username: username,
            password: password
          }       
        }),        
        
        success: function(data) {
           alert('Доктор, успешно добавлен в базу.');
    }
  });
};

</script>

{% endblock content %}