{% extends "base.html" %} {% load static %} {% block title %}
<div class="container">Пациент</div>
{% endblock title %} {% block content %}

<div class="container">
  <form class="form-horizontal" novalidate="">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Лекарство
        </label>
        <div class="col-sm-10">
          <select class="form-control" name="pill" id="pill">
            {% for pill in pills %}
            <option value="{{pill.id}}" {% if recepi.pill.id == pill.id %} selected="selected" {% endif %}>{{pill.title}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Назначение
        </label>
        <div class="col-sm-10">
          <input name="title" id="title" class="form-control" type="text" value="{{recepi.title}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Дозировка в мг.
        </label>
        <div class="col-sm-10">
          <input name="dose" id="dose" class="form-control" type="number" value="{{recepi.dose}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label"> Описание </label>

        <div class="col-sm-10">
          <input name="desciprion" id="desciprion" class="form-control" type="text" value="{{recepi.desciprion}}" />
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-primary" onclick="saveFunc()">Сохранить</button>
        <button type="button" class="btn btn-danger" onclick="deleteFunc()">Удалить</button></td>
      </div>
      
      
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  function get_cookie(cookie_name)
  {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
   
    if (results)
      return (unescape(results[2]));
    else
      return null;
  }

  function saveFunc() {
      var pill = $('select[name="pill"]').val();
      var title = $('#title').val();
      var dose = $('#dose').val();
      var desciprion = $('#desciprion').val();
      var token = get_cookie("token")
    // var token = JSON.parse(sessionStorage.getItem('accessToken'))
    // var access_token = token.access
      $.ajax({
        type:"put",
        url: "http://127.0.0.1:8000/api/recepi/update/{{recepi.id}}",
        contentType: 'application/json',
        dataType:'json',
        headers: {
          'Authorization': 'JWT '+ token},
        data: JSON.stringify({
          pill: pill,
          title: title,
          dose: dose,
          desciprion: desciprion,          
        }),        
        
        success: function(data) {
           console.log(data);
           alert('Сохранено')
    }
  });
};

function deleteFunc(){
  var token = get_cookie("token");
  $.ajax({
    type: "delete",
    url: "http://127.0.0.1:8000/api/recepi/update/{{recepi.id}}",
    contentType: 'application/json',
    dataType: 'json',
    headers: {

      'Authorization': 'JWT ' + token,
    },

    success: function (data) {
      alert('Удалено!');
    }
  });

};
</script>

{% endblock content %}

